body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
}

button {
    display: block;
    margin-top: 10px;
}

button#addBotButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#addBotButton:hover {
    background-color: #45a049;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}